<div class="row">
  <div class="col-12 col-lg-7 mt-5">
    <div class="text-center">
      <img src="../../../assets/img/Logo.png" class="img-fluid" style="max-width: 38%;" alt="Logo">
    </div>
    <form class="col-12 col-lg-4 mx-auto needs-validation" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <p class="font-blue fs-6 mt-5"><b>RECUPERAR CONTRASEÑA</b></p>
      <div class="mb-3 mt-4">
        <input type="email" formControlName="username" class="form-control"
          [ngClass]="{'is-invalid': resetForm.controls['username'].invalid && (resetForm.controls['username'].dirty || resetForm.controls['username'].touched)}"
          id="email" placeholder="USUARIO / E-MAIL" name="email">

        <div
          *ngIf="resetForm.controls['username'].invalid && (resetForm.controls['username'].dirty || resetForm.controls['username'].touched)">
          <div class="invalid-feedback d-block"
            *ngIf="resetForm.controls['username'].errors && resetForm.controls['username'].errors['required']">
            Este campo es obligatorio.
          </div>
          <!--<div class="invalid-feedback d-block"
            *ngIf="resetForm.controls['username'].errors && resetForm.controls['username'].errors['email']">
            El formato del campo es invalido.
          </div>-->
        </div>
      </div>
      <button type="submit" class="col-lg-12 col-12 btn btn-primary mb-3">RECUPERAR</button>
      <a href="/"><i class="fa-solid fa-arrow-left fa-xs"> LOGIN</i></a>
    </form>
  </div>
  <div class="col-lg-5 p-0 d-none d-sm-block">
    <img src="../../../../assets/img/recovery-image.png" class="img-fluid w-100 h-100" alt="Image main">
  </div>
</div>
