<div class="row">
  <div class="col-lg-8 align-items-center">
    <div class="row">
      <div class="col-4">
        <div class="form-group has-search">
          <p class="form-label font-blue-light-small text-center">BUSCAR ZONAS</p>
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" list="zonas" class="form-control font-blue-light-small" placeholder= />
          <datalist id="zonas">
            <option value="ZONA 1">
            <option value="ZONA 2">
            <option value="ZONA 3">
            <option value="ZONA 4">
            <option value="ZONA 5">
            <option value="ZONA 6">
          </datalist>
        </div>
      </div>
      <div class="col-4 mb-5">
        <div class="form-group has-search">
          <p class="form-label font-blue-light-small text-center">BUSCAR PLACAS</p>
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" list="placas" class="form-control font-blue-light-small" placeholder= />
          <datalist id="placas">
            <option value="PLACA 01">
            <option value="PLACA 02">
            <option value="PLACA 03">
            <option value="PLACA 04">
            <option value="PLACA 05">
            <option value="PLACA 06">
          </datalist>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="col-12">
            <p class="font-blue-light-large text-center"><b>ZONA 1</b></p>
            <div id="accordion" class="accordion-oclock">
              <div class="accordion-flush">
                <div class="accordion-header">
                  <h2>
                    <button class="d-flex align-items-center justify-content-between btn btn-blue-light collapsed p-0"
                      data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                      aria-controls="flus-collapseOne">
                      PLACA 01<span class="fa-solid fa-circle-plus fa-lg">
                      </span>
                    </button>
                  </h2>
                  <p class="font-blue-light-small">TOTAL ASIGNADOS: 000</p>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="row accordion-body">
                    <div class="container-fluid overflow-hidden">
                      <div class="row g-1">
                        <div class="col-4">
                          <div class="w-100 h-100 p-1  bg-info bg-opacity-10">
                            <p class="font-blue-light-xs"><b>TRUCK</b></p>
                            <p class="font-blue-light-xs">Tipo de Transporte</p>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="w-100 h-100 p-1 bg-info bg-opacity-10">
                            <p class="font-blue-light-xs"><b>Medellín</b></p>
                            <p class="font-blue-light-xs">Salida</p>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="w-100 h-100 p-1 bg-info bg-opacity-10">
                            <p class="font-blue-light-xs"><b>Bogotá</b></p>
                            <p class="font-blue-light-xs">Destino</p>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="w-100 h-100 p-1 bg-info bg-opacity-10">
                            <p class="font-blue-light-xs"><b>00/00/0000</b></p>
                            <p class="font-blue-light-xs">Fecha Salida</p>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="w-100 h-100 p-1 bg-info bg-opacity-10">
                            <p class="font-blue-light-xs"><b>24k</b></p>
                            <p class="font-blue-light-xs">Total Asignados</p>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="w-100 h-100 p-1 bg-info bg-opacity-10">
                            <p class="font-blue-light-xs"><b>001</b></p>
                            <p class="font-blue-light-xs">Prioridad</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="col-12">
            <p class="font-blue-light-large text-center"><b>ZONA 2</b></p>
          </div>
        </div>
        <div class="col-4">
          <div class="col-12">
            <p class="font-blue-light-large text-center"><b>ZONA 3</b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-4">
          <div class="col-12">
            <p class="font-blue-light-large text-center"><b>ZONA 5</b></p>
          </div>
        </div>
        <div class="col-4">
          <div class="col-12">
            <p class="font-blue-light-large text-center"><b>ZONA 5</b></p>
          </div>
        </div>
        <div class="col-4">
          <div class="col-12">
            <p class="font-blue-light-large text-center"><b>ZONA 6</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 align-items-center">
    <div class="row">
      <div class="col-12">
        <div class="bg-info bg-opacity-10 p-3 pb-1">
          <p class="font-blue-light-large mb-1"><b>PENDIENTES</b></p>
          <p class="font-blue-light-small">PEDIDOS PENDIENTES POR ASIGNAR</p>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-light">
          <div class="p-3">
            <div class="row">
              <div class="col-6">
                <p class="font-blue-light-medium mb-0"><b>GUIA 0000000001</b></p>
                <p class="font-blue-light-medium">CIUDAD | ZONA</p>
              </div>
              <div class="col-3 align-items-center">
                <button type="button" class="btn btn-blue"><b class="font-white-xs">Asignar</b></button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-orange"><b class="font-white-xs">Ver Guía</b></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
