<div class="container">
    <div class="mb-3">
        <input [(ngModel)]="searchText" #searchInput class="form-control" placeholder="Buscar...">
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Acciones</th>
                <th scope="col">Nombre</th>
                <th scope="col">ID de País</th>
                <th scope="col">ID de Departamento</th>
                <th scope="col">Código Dane</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities | filter: searchText | paginate : pagingConfig">
                <td class="text-center">
                    <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i>
                        Editar</button>
                    <button class="btn"
                        [ngClass]="{'btn-outline-danger': city.status, 'btn-outline-success': city.status}">
                        <i class="fa-solid fa-ban"></i> {{city.status ? 'Desactivar': 'Activar'}}</button>
                </td>
                <td>{{ city.name }}</td>
                <td>{{ city.country_id }}</td>
                <td>{{ city.department_id }}</td>
                <td>{{ city.code_dane }}</td>
                <td>{{ city.status ? 'Activo' : 'Inactivo' }}</td>
            </tr>
        </tbody>
    </table>


    <app-paginator [totalRecords]="pagingConfig.totalItems" [rows]="itemsPerPage"
        (pageChange)="onPageChange($event)"></app-paginator>



</div>