<div class="row">
    <div class="col-12 col-lg-7 mt-5">
        <div class="text-center">
            <img src="../../../../assets/img/Logo.png" class="img-fluid" style="max-width: 38%;" alt="Logo">
        </div>
        <div class="col-12 col-lg-8 mx-auto mt-5">
            <div class="row">
                <div class="col-7 pe-5">
                    <form class="mx-auto needs-validation" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                        <p class="form-signin-heading font-blue fs-6"><b>NUEVA CONTRASEÑA</b></p>
                        <div class="mt-4 mb-3">
                            <input type="password" formControlName="password" class="form-control" id="pwd"
                                placeholder="CONFIRMAR CONTRASEÑA" name="pswd"
                                [ngClass]="{'is-invalid': updateForm.controls['password'].invalid && (updateForm.controls['password'].dirty || updateForm.controls['password'].touched)}"
                                id="password" placeholder="NUEVA CONTRASEÑA" name="password">

                            <div
                                *ngIf="updateForm.controls['password'].invalid && (updateForm.controls['password'].dirty || updateForm.controls['password'].touched)">
                                <div class="invalid-feedback d-block"
                                    *ngIf="updateForm.controls['password'].errors && updateForm.controls['password'].errors['required']">
                                    Este campo es obligatorio.
                                </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="updateForm.controls['password'].errors && updateForm.controls['password'].errors['minlength']">
                                    La contraseña debe contener mínimo 8 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="newPassword" class="form-control" id="pwd"
                                placeholder="CONFIRMAR CONTRASEÑA" name="pswd"
                                [ngClass]="{'is-invalid': updateForm.controls['newPassword'].invalid && (updateForm.controls['newPassword'].dirty || updateForm.controls['newPassword'].touched)}"
                                id="newPassword" placeholder="NUEVA CONTRASEÑA" name="newPassword">

                            <div
                                *ngIf="updateForm.controls['newPassword'].invalid && (updateForm.controls['newPassword'].dirty || updateForm.controls['newPassword'].touched)">
                                <div class="invalid-feedback d-block"
                                    *ngIf="updateForm.controls['newPassword'].errors && updateForm.controls['newPassword'].errors['required']">
                                    Este campo es obligatorio.
                                </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="updateForm.controls['newPassword'].errors && updateForm.controls['newPassword'].errors['minlength']">
                                    La contraseña debe contener mínimo 8 caracteres.
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="col-12 col-lg-12 mx-auto btn btn-primary mt-5">ASIGNAR
                            CONTRASEÑA</button>
                    </form>
                </div>
                <div class="col-5">
                    <p class="font-blue-light"><b>Instrucciones</b></p>
                    <p class="font-blue-light">La contraseña debe tener mínimo 8 caracteres e incluir lo siguiente:</p>
                    <p class="font-blue-light">* Una minúscula</p>
                    <p class="font-blue-light">* Una mayúscula</p>
                    <p class="font-blue-light">* Un número</p>
                    <p class="font-blue-light">* Un carácter especial (*, +, #)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 p-0 d-none d-sm-block">
        <img src="../../../../assets/img/cajaoclock.png" class="img-fluid w-100 h-100" alt="Image main">
    </div>
</div>
